main{
	padding: 20px;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.portfolio{
	text-align: center;
	padding: 15px;
	margin-top: 15px;
	width: 500px;
	height: auto;
	background-color: #ffffff99;
	border-radius: 20px;
	border: 0.1px solid gray;
}
.pdiv-photo{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin:auto;
	width: 90px;
	border-radius: 50%;
	border: 3px solid rgb(47, 255, 47);
}
.portfolio p{
	margin-top: 6px;
	text-align: center;

}
.pdp-name{
	font-weight: 900;
	font-size: 18px;
}
hr{
	margin: 6px 0;
}
details{
	font-size: 14px;
	margin-top: 8px;
}

.pdp-contact{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-between;
}
.pdiv-icon{
	width: 18px;
	height: 18px;
	margin-right: 5px;
}
.pdp-sub{
	font-size: 12px;
}
.pdpc-call, .pdpc-gmail, .pdpc-fb{
	display: flex;
	align-items: center;
	font-size: 13px;

	width: auto;
	height: 30px;
}



@media screen and (max-width:760px) {
	main{
		padding: 10px;
		margin: 5px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.portfolio{
		padding: 2.4vw;
		border-radius: 15px;
		width: 95vw;
		height: auto;
	}
	.pdiv-photo{
		width: 16vw;
		border: 2px solid rgb(47, 255, 47);
	}
	.portfolio p{
		margin-top: 4px;
		text-align: center;
	}
	.pdp-name{
		font-size: 3.4vw;
	}
	.pdp-pos{
		font-size: 3vw;
	}
	hr{margin: 4px 0;}
	details{
		font-size: 3vw;
		margin-top: 8px;
	}
	.pdp-sub{
		font-size: 2.9vw;
	}
	.pdiv-icon{
		width: 3.8vw;
		height: 3.8vw;
	}
	.pdpc-call, .pdpc-gmail, .pdpc-fb{
		font-size: 3vw;
		width: auto;
		height: auto;
		margin-bottom: 2px;
	}
}









/* 




main{display:inline-block; width:100%; padding:20px;}


			.BOXP1{border-radius:4%; width:48%; height: 525px; margin-bottom:40px; float:left; padding:20px 20px; background-color:#ffffff99; }
			.BOXP2{border-radius:4%; width:48%; height: 525px; margin-bottom:40px; float:right; padding:20px 20px; background-color:#ffffff99; }

			.BOXP-IMG{text-align:center;}
			.BOXP-IMG img{width:32%; height:32%; border-radius:50%; border:10px solid #0bff00;}

			.BOXP-NAME h1{text-align:center; padding-bottom: 10px; font-weight:bold; font-family:sans-serif; text-transform:uppercase;}
			.BOXP-POS{padding-bottom:10px; text-align:center; font-family:sans-serif; }
			.BOXP-SUB{padding-bottom:10px; padding-top: 10px; text-align:center; font-family:sans-serif; }
			.BOXP-CON p{padding-top: 10px; text-align:center; font-family:sans-serif; }

			.gmail-icon{width: 16px; height: 12px;}
			.fb-icon{width: 16px; height: 15px;}
			.BOXP-TEXT p{text-align:center; font-size:20px; font-family:dubai; color:Black;}
			.BOXP-TEXT a:hover{color:#1bfe50; transition:all 0.4s ease 0s;}



@media screen and (max-width:830px) 
	{
		
		main{display:inline-block; width:100%; padding:5px;}

			.BOXP1{border-radius:4%; width:100%; height: auto; margin-bottom:15px;  padding: 8px; background-color:#ffffff99; }
			.BOXP2{border-radius:4%; width:100%; height: auto; margin-bottom:15px;  padding: 8px; background-color:#ffffff99; }

			.BOXP-IMG{text-align:center;}
			.BOXP-IMG img{width:25%; height:25%; border-radius:50%; border:3px solid #0bff00;}

			.BOXP-NAME h1{text-align:center; font-size: 18.99px; padding-bottom: 7px; font-weight:bold; font-family:sans-serif; text-transform:uppercase;}
			.BOXP-POS{padding-bottom:5px; font-size: 12px; font-weight:bold; text-align:center;  font-family:sans-serif; }
			.BOXP-SUB{padding-bottom:5px; font-size: 11px; padding-top: 5px; text-align:center; font-family:sans-serif; }
			.BOXP-CON p{padding-top: 5px; font-size: 11px; text-align:center; font-family:sans-serif; }

			.gmail-icon{width: 10px; height: 8px;}
			.fb-icon{width: 10px; height: 9px;}
			.BOXP-TEXT p{text-align:center; font-size:20px; font-family:dubai; color:Black;}
			.BOXP-TEXT a:hover{color:#1bfe50; transition:all 0.4s ease 0s;}

} */