.notice-board, .reso-board {
    margin: 20px 0px;
}
.nb-header p, .reso-header p{
    margin: auto;
    padding-left: none;
    padding-right: none;
    width: 80%;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    background-color: #006e53;
    border-radius: 0px;
    border: 2px solid #ffffff;
}

.lb-header p{
    margin: auto;
    width: 80%;
    padding: 8px 0px;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    background-color: #00523d;
    border: 2px solid #ffffff;
    border-top: none;

}
.nb-main, .reso-main, .lb-main{
    margin: auto;
    padding: 10px 5px;
    width: 80%;
    display: flex; flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.664);
    backdrop-filter: blur(30px);
    border: 2px solid #ffffff;
    border-top: none;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2)
}

summary{cursor: pointer;}
.reso-main ul li, .founder-speech{margin: 0px 25px; text-align: justify; }
.speech4lowfees{ margin-left: 7px; font-size: medium;  color:rgb(0, 82, 0);}
.khoroch{ 
    flex-grow: 1; flex-basis: auto;
    background-color: #fcdca8;
    padding: 8px;
    margin: 2px;
    color: #000;
    width: auto;
    border: 1px solid gray;
    border-radius: 10px;
    
}

.nb-main img {
    height: 180px;
    width: 120px;
}
.nb-main a{
    justify-content: center;
    display: flex;
    margin-right: 5px;
    margin-top: 5px;
}
.nb-main h2{
    padding: 20px;
    margin: auto;
    color: #fff;
}
.nb-main a:hover{
    border: 1px solid #1bfe00;
}


.lb-main a{ 
    flex-grow: 1; flex-basis: auto;
    background-color: #fff;
    padding: 8px;
    margin: 2px;
    text-decoration: none;
    color: #000;
    width: auto;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}



.lb-main a:hover{
    border: 2px solid #1bfe00;
}


@media screen and (max-width:630px) 
	{
        .nb-header p, .lb-header p{
            font-size: 25px; 
            color: #ffffff;
            font-weight: 900;
        }
        .nb-header p, .lb-header p, .reso-board p{width: 90%;}
        .nb-main, .lb-main, .reso-main{width: 90%;}
        .nb-main img {
            height: 160px;
            width: 110px;
        }
    }
